:root {
    --font-stack-headers: 'Sarabun', Helvetica, Arial;

    --theme-color-xxxxx-light: #f2ffff;
    --theme-color-xxxx-light: #ebfaff;
    --theme-color-xxx-light: #e3eeff;
    --theme-color-xx-light: #c4c0ff;
    --theme-color-x-light: #d0a1ff;
    --theme-color-light: #f889ff;
    --theme-color-base: #ff78cb;
    --theme-color-dark: #ed49c8;
    --theme-color-x-dark: #d732c4;
    --theme-color-xx-dark: #be1db7;
    --theme-color-xxx-dark: #9f0da3;
    --theme-color-xxxx-dark: #770087;
    --theme-color-xxxxx-dark: #3A0141;
}

html {
}

body {
    font: 16px/1.5 var(--font-stack-headers);
    color: var(--theme-color-xxxxx-dark);
}

.o-hide-accessible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    white-space: nowrap; /* added line */
}

/* APP */
.c-app {
    --local-border-bottom-size: 0.5rem;

    display: grid;
    /* grid-template-columns: 5rem 1fr; */
    grid-template-rows: auto 1fr;
    min-height: calc(100vh - var(--local-border-bottom-size));
    border-bottom: var(--local-border-bottom-size) solid var(--theme-color-base);

    overflow: hidden;
}

/* HEADER */
.c-header {
    /* positioning */
    
    /* box model */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    /* typography */
    color: var(--theme-color-xxxx-light);

    /* appearance */
    background: var(--theme-color-xxxxx-dark);

    /* other */
}

.c-logo {
    display: flex;
    align-items: center;

    height: 100%;

    margin-left: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: var(--theme-color-base);
    
    opacity: 1;
    will-change: opacity;
    transition: opacity 300ms ease-out;

    text-decoration: none;
}

.c-logo:hover {
    opacity: 0.5;
}

.c-logo__text {
    font-size: 1.8rem;
    line-height: 1;
    color: var(--theme-color-xxxxx-light);
    font-weight: 800;
}


.c-nav {
}

.c-nav-list {
    display: flex;
}

.c-nav-list__item {
    /* display: inline-block; */

    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    border-bottom: 2px solid transparent;
}

.c-nav-list__item:hover {
    border-color: var(--theme-color-base);
}

/* adjacent sibling selector */
.c-nav-list__item + .c-nav-list__item {
    margin-left: 3rem;
}


.c-counter {
}

.c-counter__current {
}

/* COUNTRIES */
.c-countries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    align-items: center;
    gap: 4rem 2rem;

    padding: 2rem;

    overflow-y: auto;
}

.c-country {

}

.c-country__input:checked + .c-country__label {
    opacity: 0.3;
}

.c-country__label {
    display: flex;
    align-items: center;
}

.c-country__flag-holder {
    --local-flag-dimension: 5rem;

    display: flex;
    align-items: center;
    justify-items: center;
    /* zorgt ervoor dat de vlaggen niet dunner worden bij plaatsgebrek */
    flex-shrink: 0;

    width: var(--local-flag-dimension);
    height: var(--local-flag-dimension);
    overflow: hidden;
    background: var(--theme-color-base);

    border-radius: 50%;
}

.c-country__flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-country__details {
    margin-left: 1rem;
}

.c-country__name {
    color: var(--theme-color-xxxxx-dark);
    font-size: 1.6rem;
}

.c-country__native-name {
    font-size: 1.1rem;
    opacity: 0.5;
}
